<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">HRIS</a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li (click)="onClickUsers()"><a href="#">Users</a></li>
          <li class="dropdown" dropdown>
            <a href="#" dropdownToggle role="button">Leaves <span class="caret"></span></a>
            <ul *dropdownMenu class="dropdown-menu">
                <li (click)="onClickLeaveTypes()"><a href="#">Leave Types</a></li>
                <li (click)="onClickLeaveStatus()"><a href="#">Leave Status</a></li>
            </ul>
          </li>
        </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div *ngIf="showUsers">
    <app-user></app-user>
  </div>
  <div *ngIf="showLeaveTypes">
    <app-leave-type></app-leave-type>
  </div>
  <div *ngIf="showLeaveStatus">
    <app-leave-status></app-leave-status>
  </div>
</div>