<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img alt="Brand" src="./assets/hris.png"/></a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <!--li><a [routerLink]="['/users']">Users</a></li-->
          <li class="dropdown" dropdown>
            <a dropdownToggle class="dropdown-toggle">Users <span class="caret"></span></a>
            <ul *dropdownMenu class="dropdown-menu">
              <li><a [routerLink]="['/users']">All Users</a></li>
              <li><a [routerLink]="['/addUser']">Add New User</a></li>
          </ul>
          </li>
          <li class="dropdown" dropdown>
            <a dropdownToggle class="dropdown-toggle">Leaves <span class="caret"></span></a>
            <ul *dropdownMenu class="dropdown-menu">
                <li><a [routerLink]="['/leaveTypes']">Leave Types</a></li>
                <li><a [routerLink]="['/leaveStatus']">Leave Status</a></li>
            </ul>
          </li>
        </ul>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>