<div class="container-fluid">

    <div class="row"> <!-- Work Day Category -->
      <div class="col-md-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Work Day Category</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label for="name">Category Name</label>
              <input type="text" class="form-control" id="name" name="name" [(ngModel)]="workDayCategoryModel.name">
            </div>
            <button class="btn btn-primary" type="submit" (click)="addCategory()">Add</button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">All Work Day Categories</h3>
          </div>
          <div class="panel-body">
            <div *ngIf="allWorkDayCategories">
              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th>Category Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cat of allWorkDayCategories">
                    <td>{{cat.name}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="!allWorkDayCategories">
              No data found!
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row"> <!-- Work Day -->
        <div class="col-md-6">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Work Day</h3>
            </div>
            <div class="panel-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="code" class="col-sm-3 control-label">Code</label>
                <div class="col-sm-9"><input type="text" class="form-control" id="code" name="code" [(ngModel)]="workDayModel.code"></div>
              </div>
              <div class="form-group">
                <label for="workDayCategory" class="col-sm-3 control-label">Category</label>
                <div class="col-sm-9">
                <select id="workDayCategory" name="workDayCategory" class="form-control long-input" [(ngModel)]="workDayModel.workDayCategory" (ngModelChange)="onWorkDayCategoryChange($event)">
                  <option *ngFor="let cat of allWorkDayCategories" [ngValue]="cat">{{cat.name}}</option>
                </select>
                </div>
              </div>
              <div class="form-group">
                <label for="startTime" class="col-sm-3 control-label">Start Time</label>
                <div class="col-sm-9">
                  <!--<input type="text" class="form-control" id="startTime" name="startTime" [(ngModel)]="workDayModel.startTime">-->
                  <timepicker id="startTime" name="startTime" [(ngModel)]="workDayModel.startTime"></timepicker>
                </div>
              </div>
              <div class="form-group">
                <label for="endTime" class="col-sm-3 control-label">End Time</label>
                <div class="col-sm-9">
                  <!--<input type="text" class="form-control" id="endTime" name="endTime" [(ngModel)]="workDayModel.endTime">-->
                  <timepicker id="endTime" name="endTime" [(ngModel)]="workDayModel.endTime"></timepicker>
                </div>
              </div>
              <div class="form-group">
                <label for="description" class="col-sm-3 control-label">Description</label>
                <div class="col-sm-9"><textarea id="description" name="description" [(ngModel)]="workDayModel.description" class="form-control" rows="3"></textarea></div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <button class="btn btn-primary" type="submit" (click)="addWorkDay()">Add</button>
                </div>
              </div>
            </form>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">All Work Days</h3>
            </div>
            <div class="panel-body">
              <div *ngIf="allWorkDays">
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <th>Code</th>
                      <th>Category</th>
                      <th>Start</th>
                      <th>End</th>
                      <th>Description</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let workDay of allWorkDays">
                      <td>{{workDay.code}}</td>
                      <td>{{workDay.workDayCategory.name}}</td>
                      <td>{{workDay.startTime}}</td>
                      <td>{{workDay.endTime}}</td>
                      <td>{{workDay.description}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div *ngIf="!allWorkDays">
                No data found!
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  
  
  
