<div *ngIf="showUserForm">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Add New User</h3>
    </div>
    <div class="panel-body">
      <form class="user-form">
        <div class="form-group">
          <label for="exampleInputEmail1">First Name</label>
          <input type="text" class="form-control" name="firstName" placeholder="">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Last Name</label>
          <input type="text" class="form-control" name="lastName" placeholder="">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">NIC</label>
          <input type="text" class="form-control" name="nic" placeholder="">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Address</label>
          <input type="text" class="form-control" name="address" placeholder="">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <input type="email" class="form-control" name="email" placeholder="">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">DOB</label>
          <input type="text" class="form-control" name="dob" placeholder="">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input type="text" class="form-control" name="userName" placeholder="">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Password</label>
          <input type="password" class="form-control" name="password" placeholder="">
        </div>
        <div class="checkbox">
          <label><input type="checkbox"> Active</label>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
    </div>  
  </div>
</div>

<div *ngIf="!showUserForm">
  <p><button (click)="onClickAddNewUser()" type="button" class="btn btn-success">Add New User</button></p>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Users</h3>
  </div>
  <div class="panel-body">
    <div *ngIf="allUsers">
        <table class="table table-condensed">
            <thead>
              <tr>
                <th>ID</th>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>NIC</th>
                <th>Address</th>
                <th>Email</th>
                <th>DOB</th>
                <th>Active</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of allUsers">
                <td>{{user.id}}</td>
                <td>{{user.userName}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.nic}}</td>
                <td>{{user.address}}</td>
                <td>{{user.email}}</td>
                <td>{{user.dob}}</td>
                <td>{{user.active}}</td>
              </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="!allUsers">
      No data found!
    </div>
  </div>
</div>
